.triggers button {
    background-color: green;
    color: white;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    width: 70px;
    cursor: pointer;
  }